@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&display=swap');
body{
    background-color: #343434;
    
}
.card {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 520px;
    max-width: 300px;
    box-shadow: 5px 5px 10px #191b1b, -5px -5px 10px #595959;
    background-color: #343434;
    border-radius: 30px;
}
hr{
    background-color: gray;
}
.weather-report{
    font-family: 'Merriweather', serif;
}

.searchTerm {
    /* padding: 10px; */
    background-color: rgba(0, 0, 0, 0.342);
    color: #fff;
    border-radius: 50px 0px 0px 50px;
    border-bottom: none;
    border: none;
    outline: none;
    border: 1px solid rgba(36, 36, 36, 0.616);
    border-right: none;
    box-sizing: border-box;
  }

  
.searchButton {
    background-color: rgba(0, 0, 0, 0.342);
    color: #fff;
    border-radius: 0px 80px 80px 0px;
    border: 1px solid rgba(36, 36, 36, 0.616);
    border-left: none;
    outline: none !important;
    padding: 10px;
  }


